<section class="grid_12 home">

  <div class="grid_12 status-bar">
    <%= render 'status-form' %>
  </div>

  <div class="grid_12 section">
    <div class="grid_6 alpha">
      <h2>In / Out</h2>
    </div>

    <div class="grid_6 omega">
      <a class="modal-link help small" data-open="modal-xyz">?</a>
    </div>

    <%= render 'statuses' %>

  </div>

</section>

<div class="modal" data-reveal="modal-xyz">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="modal-close">X</div>

    <h3>Guidance</h3>
    <p>Aaa</p>

  </div>
</div>